*{
    margin:0;
    border:0;
    box-sizing:border-box;
    padding:0;
}

body{
    background:green;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fas{
    color:#fff;
    font-size:20px;
}
.video-player{
    position:relative;
    max-width:80vw;
    min-width:800px;
    background:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow:hidden;
}
.video{
    width:100%;
    height:auto;
    border-radius:3px;
    object-fit:cover;
}
.controls{
   width:100%;
   height:10%;
   z-index:2;
   position:absolute;
   bottom:0;
   background:rgba(24, 24, 24, 0.671);
   padding:10px 15px;
   padding-bottom:20px;


}

.controls div .progress-span{
    width:100%;
    height:4px;
    background:rgb(177, 176, 176);
    border-radius:12px;
    cursor:pointer;
    z-index:10; 
}
.controls div .progress-span:hover{
    height:6px;
}
.progress-bar{
    background:red;
    width: 50%;
    height:100%;
    cursor:pointer;
    border-radius:12px;
}

.vid-controls{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 15px;
}
.left-icons,
.right-icons{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
}
.right-icons .time .time-elapsed,
.right-icons .time .duration{
    color:#fff;
    font-weight:800;
    font-size:18px;
    user-select:none;
    pointer-events:none;
}
.volume{
    display:flex;
    align-items:center;
    gap:10px;
}
.volume-line{
    width:100px;
    height:4px;
    background:rgb(90, 90, 90);
    border-radius:10px;
    
}
.volume-bar{
    width:50px;
    height:4px;
    background:rgb(255, 255, 255);
    border-radius:10px;

}
.volume-bar:hover{
    background:red;
}
select:focus{
    outline:none;
    cursor:pointer;
}



/* For Responsiveness */
@media screen and (max-width: 600px){
    .video-player{
        min-width:0;
        max-width:95vw;
    }
    .controls{
        height:40px;
    }
    .fas{
        height:14px;
    }
    .vid-controls{
        position:relative;
        top:-9px;
        display:flex;
        justify-content:space-between;
    }
    .progress-span{
        width:100%;
        top: 0;
    }
    .volume-line{
        width:30px;
        left:30px;

    }
}